body {
  margin: 0;
  padding: 0;
  color: rgb(103, 42, 43);
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 200%;
  
  
}
.theme-button {
  position: absolute;
  top: 10px;
  left: 40px;
border: 1px solid rgb(72, 63, 63);
background-color: rgb(161, 124, 124, 0.5);
width: 200px;
}

main {

  margin: 0;
}
.light-theme {

  background-color: white;
}



.dark-theme {

  background-color: rgb(161, 124, 124, 0.5);
}
.site-header {
  
  padding: 80px;
  width: auto;
  height: 150px;
  background: #f4e5d4 no-repeat center url('img/header.png');
  background-size: cover;
  margin: 0;

}

h1 a {
position: absolute;
top: 20px;
right: 400px;
color: rgb(103, 42, 42);
text-decoration: none;

}

.skills {
  margin:0;
position: absolute;
right: 520px;
font-size: 20px;
font-weight: 700;


}

.menu {
  display: grid;
  grid-template-columns: 1fr;
  vertical-align: top;
  gap: 5px;
list-style: none;
width: 800px;
margin:0;
}


.menu a {

color:rgb(103, 42, 42);
border: 1px solid rgb(72, 63, 63);
background-color: rgb(161, 124, 124, 0.3);
padding: 3px;
list-style: none;
font-size: 16px;
font-weight: 600;

}

.menu a:hover,
.theme-button:hover,
.photo-alena img:hover,
h1 a:hover {
  border: 2px solid rgb(72, 63, 63);
  background-color: rgba(220, 200, 200, 0.9);


}

.menu a:active {
  border: 2px solid rgb(72, 63, 63);
  background-color: rgba(74, 45, 45, 0.9);
  }


.photo-alena  img {
position: absolute;
right: 160px;
top: 220px;
border-radius: 100%;
border: 1px solid black;
 
}

.photo-3 {
margin: 40px;

}

.titul {
  display:grid;
  grid-template-columns: 1fr 2fr;
  margin: 20px;
  margin-left: 0;
 
  
  }

  .titul h2

  {
    font-size: 18px;
    color:rgb(103, 42, 42);

  }

  .titul p {

    color:rgb(103, 42, 42);
    margin-top: 30px;
    margin-top: 0;

  }

  .institut {

    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 480px;
    margin: 20px;
   
  }

  h2 {

    margin-top: 35px;;
    margin-left: 20px;
    font-size: 18px;
    color: rgb(103, 42, 42);
  }
}

.site-footer {
  
  padding: 80px;
  min-width: 800px;
  height: 200px;
  margin: 0;
}

.site-footer img {

  width: 100px;
  border: 1px solid black;
  border-radius: 100%;
  transform: rotate(-60deg);

}
.container {

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.site-footer .container {
  text-align: center;
  background-color:  #f4e5d4;
  color:rgb(103, 42, 42;
  vertical-align: center;
  
}

.calculator {
  margin: 40px 20px 80px 20px;
  padding: 30px;
  width: 300px;
  border: 2px solid rgb(103, 42, 42);
}